a{
	text-decoration: none !important ; 
	/*text-decoration: none !important ; dung cai nay de bo dau gach duoi khi hover*/
}

.wrap {
	margin-right: 100px;
	margin-left: 100px;
}
.top-header{
	height: 200px;
	/*background: gray;*/
	
}

.top-header .logo-header{
	height: 200px;
	width: 400px;
	margin-left: 300px;
	float: left;
	display:block;
}
.account{
	height: 200px;
	width: 200px;
	float: right;
	/*background: green;*/
	display: block;

}
.account span{
	/*display: block;
	margin-right: 30px;
	width: 200px; 
	text-align: right;
	margin-bottom: 5px;*/
}
.bottom-header .my-nav{
	display: block;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
	margin-bottom: 20px;
}
.my-nav ul{
	display: inline-block;
	padding-top: 15px;

}
.my-nav ul li{
	display: block;
	float: left;
	margin-right: 50px;
	margin-left: 50px;
}
.my-nav ul li a{
	text-transform: uppercase;
	font-style: italic;
	color: black;
}
/*product page*/
.product{
	height: 900px;

}
.product .left-sibar{
	height: 300px;
	width: 200px;
	float: left;
}

.left-sibar ul{
	display: block;
	padding-left: 
}
.left-sibar ul li{
	display: block;
	padding: 5px;	
	border-bottom: solid 1px black;
}
.left-sibar ul li a{
	font-size: 15px;
}

.product .main-product{
	height: 300px;
	display: block;
	float: left;
	width: 800px;
}
ul.list-product{
	display: block;
}
ul.list-product li{
	display: inline-block;
	margin-left: 10px; 	
	margin-top: 10px;
	height: 600px;
}

span.BTN a{
	display: block;
	color: black;
	width: 70px;
	border: solid 1px black;
	text-align: center;
	padding: 3px;
}
.BTN a:hover{
	color: white;
	background: green;
}
/*end - product page*/

/*phan table cart*/
table#cart-table tr td{
	text-align: center;
	vertical-align: middle;
}

/* the li active phan trang*/
li.current{
	background: red;
}

/* cau hinh trang news*/

.item-news{
  float: left;
  
  height:195px;
  margin-bottom: 14px;
  background-color:#F7F2F2;

}
.news-content {
	height: 700px;

}
.tag-display{
	float: right;
}
.news-content .item-news{
	margin-left: 20px;
}
.news-content .item-news .right-item-news{
	float:left;
}
.item-news .news-thumb{
	height: 190px;
}
.item-news .right-item-news{
	max-width: 600px;
}
.row-contain{
	margin-top: 30px;
}
/* end -- cau hinh trang news*/

/*rating star*/
.rate_widget {
    border:     1px solid #CCC;
    overflow:   visible;
    padding:    10px;
    position:   relative;
    width:      180px;
    height:     32px;
}
.ratings_stars {
    background: url('../img/star.ico') no-repeat;
    float:      left;
    height:     28px;
    padding:    2px;
    width:      32px;
}
.ratings_vote {
    background: url('../img/star.png' no-repeat;
}
.ratings_over {
    background: url('../img/star.png') no-repeat;
}
/*end rating star*/
